.container-about {
  margin: 60px 80px 40px;
}

.container-about .bg-about {
  background-image: url("../../assets/img/about.png");

  background-position: 50% 10%;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 10px;
  height: 400px;
  padding: 0px 8%;
}

@media (max-width: 992px) {
  .container-about {
    margin: 60px 60px 40px;
  }

  .p-about {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .h1-about {
    font-size: 1.8rem;
  }
  .p-about {
    font-size: 0.75rem;
  }
}

@media (max-width: 576px) {
  .container-about {
    margin: 60px 30px 40px;
  }

  .h1-about {
    font-size: 1.4rem;
  }
  .p-about {
    font-size: 0.6rem;
  }
}
