/* Carousel */
#carousel .contain-event h4 {
  color: #312357;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
}
#carousel .contain-event .bars-2 {
  width: 120px;
  height: 5px;
  border-radius: 5px;
  background-color: #312357;
}
#carousel .contain-event .comingSoon {
  border-radius: 20px;
}

#carousel .contain-event .dayEnglish {
  background-color: #312357;
  border-radius: 20px;
}

#carousel .contain-event .card .dayEnglish-img {
  width: 175px;
  height: 75px;
  margin: auto;
  margin-top: 30px;
}
#carousel .contain-event .card .comingSoon-txt {
  vertical-align: middle;
  line-height: 165px;
  color: black;
  align-items: center;
  font-weight: 900;
}

#carousel .contain-event .card .card-body .title-21day-carousel {
  color: white;
}
#carousel .swiper {
  padding: 40px 0 90px 0;
}

#carousel .contain-event .dayEnglish .card-body .more-info {
  border-radius: 7px;
  border: 15px;
  background-color: white;
  color: black;
  margin-top: 10px;
}
#carousel .contain-event .dayEnglish .card-body .more-info:hover {
  color: #8b60ff;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 2px) !important;
}

:root {
  --swiper-theme-color: #f8f9fa !important;
}

@media screen and (max-width: 1199px) {
  #carousel .contain-event .card .card-body .comingSoon-txt {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 991px) {
  #carousel .contain-event .dayEnglish .card-body .title-21day-carousel {
    font-size: 15px;
  }
  #carousel .contain-event .card .comingSoon-txt {
    font-size: 15px;
  }
}

@media screen and (max-width: 541px) {
  #carousel .contain-event .dayEnglish .card-body .title-21day-carousel {
    font-size: 12px;
  }
}
