footer {
  background-color: #312357;
  color: white;
}

#footer .container-fluid .row .footer-right {
  padding: 100px 0 100px 50px;
}
#footer .container-fluid .row .footer-left {
  padding: 100px 0 100px 60px;
}
#footer .container-fluid .row a {
  padding: 10px;
  border-radius: 50%;
  color: white;
}

@media screen and (max-width: 1199px) {
  #carousel .contain-event .card .card-body .comingSoon-txt {
    font-size: 20px !important;
  }
  .about-event .contain-aboutEvent .col .title-event-21day {
    font-size: 20px !important;
    font-weight: 10px !important;
  }
  #footer .container-fluid .row .footer-left .ESFooter {
    width: 400px;
  }
}

@media screen and (max-width: 999px) {
  #footer .container-fluid .row .footer-left .ESFooter {
    width: 250px;
  }
  #footer .container-fluid .row .footer-left {
    color: white;
    padding: 50px;
  }
  #footer .container-fluid .row .footer-right {
    /* background-color: black; */
    padding: 40px 0 10px 50px;
  }
}
