div .bg-jumbotron {
  height: 95vh;
  width: 100%;
  background-image: url("../../assets/img/jumbotron.png");
  height: 95vh;
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 10px;
}

div .jumbotron-icon {
  width: 400px;
}

@media (max-width: 991.98px) {
  div .bg-jumbotron {
    background-position: 50% 70%;
  }
}
