.box-content {
  margin-bottom: 150px;
}

.box-job {
  padding: 20px 30px;
}

.job-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
  background-color: #8b60ff;
}

.job-summary-1 {
  margin: 0 1rem;
}

.job-summary-2 {
  margin: 0 4.5rem;
}

.job-summary-1 h2 {
  font-size: 1.3rem;
  margin: 0;
}

.job-summary-1 p {
  font-size: 1rem;
  margin: 0;
}

.job-summary-2 p {
  font-size: 1rem;
  margin: 0;
}

.btn-job {
  width: 1;
}

/* job description */

/* skills */

.desc {
  font-size: 1rem;
}

.skills {
  gap: 10px;
}

.skills div {
  font-size: 0.9rem;
  border: 1px;
  border-style: solid;
  border-radius: 15px;
  border-color: #c6c6c6;
  padding: 4px 20px;
  text-align: center;
  background-color: #f3f3f3;
}

@media (max-width: 992px) {
  .card-bd ul {
    margin-top: 15px;
  }
  .p-vision {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .box-content {
    margin: 1.5rem 0 100px !important;
  }
  .box-icon {
    display: flex;
    flex-direction: column;
    justify-content: start !important;
    align-items: start !important;
  }
  .box-job {
    padding: 20px 30px;
  }

  .job-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    color: #fff;
    border-radius: 0.75rem;
    background-color: #8b60ff;
  }

  .job-summary-1 {
    margin: 10px 0 0;
  }

  .job-summary-2 {
    margin: 0 0;
  }

  .job-summary-1 h2 {
    font-size: 1.1rem;
    margin: 0;
  }

  .job-summary-1 p {
    font-size: 0.9rem;
    margin: 0;
  }

  .job-summary-2 p {
    font-size: 0.9rem;
    margin: 0;
  }

  .btn-job {
    width: 1;
    font-size: 0.9rem;
  }

  .skills {
  }

  .skills .p-skill {
    font-size: 0.9rem;
  }

  .desc {
    font-size: 0.9rem;
  }

  .desc-ul li {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .box-content {
    margin: 1.5rem 0 100px !important;
  }

  .job-desc {
    margin: 2rem !important;
  }
  .box-icon {
    display: flex;
    flex-direction: column;
    justify-content: start !important;
    align-items: start !important;
  }
  .box-job {
    padding: 20px 30px;
    margin: 0 1.5rem !important;
  }

  .job-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    color: #fff;
    border-radius: 0.75rem;
    background-color: #8b60ff;
  }

  .job-summary-1 {
    margin: 10px 0 0;
  }

  .job-summary-2 {
    margin: 0 0;
  }

  .job-summary-1 h2 {
    font-size: 1rem;
    margin: 0;
  }

  .job-summary-1 p {
    font-size: 0.8rem;
    margin: 0;
  }

  .job-summary-2 p {
    font-size: 0.8rem;
    margin: 0;
  }

  .btn-job {
    width: 1;
    font-size: 0.8rem;
  }

  .skills {
  }

  .skills .p-skill {
    font-size: 0.8rem;
  }

  .desc {
    font-size: 0.8rem;
  }

  .desc-ul li {
    font-size: 0.8rem;
  }
}
